In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [94]:
sorted(df['Investors Name'].unique().tolist())

TypeError: '<' not supported between instances of 'float' and 'str'

In [95]:
df['Investors Name'][df['Investors Name'].isnull()]

13      NaN
46      NaN
154     NaN
168     NaN
178     NaN
180     NaN
188     NaN
208     NaN
210     NaN
260     NaN
283     NaN
290     NaN
306     NaN
345     NaN
396     NaN
458     NaN
684     NaN
843     NaN
2113    NaN
2204    NaN
2278    NaN
2408    NaN
2690    NaN
2812    NaN
Name: Investors Name, dtype: object

In [96]:
df['Investors Name'] = df['Investors Name'].fillna('Undisclosed')

In [97]:
df['Investors Name'].unique()

array(['Tiger Global Management', 'Susquehanna Growth Equity',
       'Sequoia Capital India', ..., 'KARSEMVEN Fund',
       'Exfinity Fund, GrowX Ventures.',
       'UK based Group of Angel Investors'], dtype=object)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3044 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [99]:
df.drop(columns=['Remarks'], inplace=True)

In [100]:
df.set_index('Sr No', inplace=True)

In [101]:
df.rename(columns={'Date dd/mm/yyyy': 'date', 'Startup Name': 'startup', 'Industry Vertical':'vertical','SubVertical':'subvertical', 'City  Location': 'city', 'Investors Name': 'investors', 'InvestmentnType': 'round', 'Amount in USD': 'amount' }, inplace=True)

In [102]:
df

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000"
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000"
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000"
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000"

In [103]:
df['amount'] = df['amount'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3044 non-null   object
 1   startup      3044 non-null   object
 2   vertical     2873 non-null   object
 3   subvertical  2108 non-null   object
 4   city         2864 non-null   object
 5   investors    3044 non-null   object
 6   round        3040 non-null   object
 7   amount       3044 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [104]:
df['amount'] = df['amount'].str.replace(',','')
df['amount'] = df['amount'].str.replace('undisclosed',"0")
df['amount'] = df['amount'].str.replace('Undisclosed',"0")
df['amount'] = df['amount'].str.replace('unknown',"0")
df['amount'] = df['amount'].str.replace(' ',"")

In [105]:
df = df[df['amount'].astype(str).str.isdigit()]

In [106]:
df['amount'] = df['amount'].astype(float)

C:\Users\User\AppData\Local\Temp\ipykernel_16140\1060450643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'] = df['amount'].astype(float)

In [107]:
def to_miliion(dollar):
    return dollar/1000000

In [108]:
df.info()
# df['date'].dt.month

<class 'pandas.core.frame.DataFrame'>
Index: 2069 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2069 non-null   object
 1   startup      2069 non-null   object
 2   vertical     1938 non-null   object
 3   subvertical  1422 non-null   object
 4   city         1934 non-null   object
 5   investors    2069 non-null   object
 6   round        2068 non-null   object
 7   amount       2069 non-null   float64
dtypes: float64(1), object(7)
memory usage: 145.5+ KB

In [109]:
df['amount'] = df['amount'].apply(to_miliion)

C:\Users\User\AppData\Local\Temp\ipykernel_16140\1871286515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'] = df['amount'].apply(to_miliion)

In [110]:
df.tail(25)

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
3013,16/01/2015,eKincare,NaN,NaN,NaN,Adroitent Pvt. Ltd.,Seed Funding,0.161
3014,18/01/2015,ShopClues,NaN,NaN,NaN,Tiger Global & Other investors,Private Equity,100.000
3015,19/01/2015,Refiral,NaN,NaN,NaN,Cogent E Services,Seed Funding,0.330
3017,19/01/2015,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,0.200
3018,19/01/2015,Hostel Dunia,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,0.016
3019,19/01/2015,Play your sport,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,0.016
3020,19/01/2015,Yo Grad,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,0.016
3021,19/01/2015,Enabli,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,0.016
3022,19/01/2015,CBS,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,0.016
3023,20/01/2015,Hopscotch,NaN,NaN,NaN,Eduardo Saverin & Velos Capital,Private Equity,11.000
3025,20/01/2015,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,0.200
3026,21/01/2015,Simplilearn,NaN,NaN,NaN,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,14.750
3027,21/01/2015,MyDreamStore,NaN,NaN,NaN,Undisclosed Investors,Seed Funding,0.325
3029,21/05/2015,Villgro,NaN,NaN,NaN,Michael & Susan Dell Foundation,Seed Funding,3.250
3030,22/01//2015,Corporate360,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,0.200
3033,22/01/2015,Antuit,NaN,NaN,NaN,"Goldman Sachs, Zodius Capital",Private Equity,56.000
3034,22/01/2015,Caratlane.com,NaN,NaN,NaN,Tiger Global,Private Equity,31.000
3035,24/01/2015,Aasaanjobs,NaN,NaN,NaN,"Inventus Capital Partners, IDG Ventures",Seed Funding,1.500
3037,25/01/2015,Thrill App,NaN,NaN,NaN,People Group (Shaadi.com),Private Equity,1.000
3038,27/01/2015,CarDekho.com,NaN,NaN,NaN,"Hillhouse Capital, Tybourne Capital",Private Equity,50.000
3039,28/01/2015,Grabhouse.com,NaN,NaN,NaN,"Kalaari Capital, Sequoia Capital",Private Equity,2.500
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4.500
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,0.825
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1.500
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,0.140

In [111]:
df['date'] = df['date'].str.replace('05/072018', '05/07/2018')
df['date'] = df['date'].str.replace('01/07/015', '01/07/2015')
df['date'] = df['date'].str.replace('12/05.2015', '12/05/2015')
df['date'] = df['date'].str.replace('13/04.2015', '13/04/2015')
df['date'] = df['date'].str.replace('15/01.2015', '15/01/2015')
df['date'] = df['date'].str.replace('22/01//2015', '22/01/2015')

C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('05/072018', '05/07/2018')
C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('01/07/015', '01/07/2015')
C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('12/05.2015', '12/05/2015')
C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('13/04.2015', '13/04/2015')
C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('15/01.2015', '15/01/2015')
C:\Users\User\AppData\Local\Temp\ipykernel_16140\1335117635.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('22/01//2015', '22/01/2015')

In [112]:
df['date'] = pd.to_datetime(df['date'],format='%d/%m/%Y', dayfirst=True)

C:\Users\User\AppData\Local\Temp\ipykernel_16140\2317218155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'],format='%d/%m/%Y', dayfirst=True)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2069 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2069 non-null   datetime64[ns]
 1   startup      2069 non-null   object
 2   vertical     1938 non-null   object
 3   subvertical  1422 non-null   object
 4   city         1934 non-null   object
 5   investors    2069 non-null   object
 6   round        2068 non-null   object
 7   amount       2069 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 145.5+ KB

In [114]:
df = df.dropna(subset=['date', 'startup', 'vertical', 'city', 'investors', 'round', 'amount'])

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1933 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1933 non-null   datetime64[ns]
 1   startup      1933 non-null   object
 2   vertical     1933 non-null   object
 3   subvertical  1419 non-null   object
 4   city         1933 non-null   object
 5   investors    1933 non-null   object
 6   round        1933 non-null   object
 7   amount       1933 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 135.9+ KB

In [116]:
sorted(set(df['investors'].str.split(',').sum()))

['',
 ' & Others',
 ' 100 Co-founders Lab and others.',
 ' 122 West Ventures',
 ' 1Crowd',
 ' 3ONE4 Capital Advisors',
 ' 3one4 Capital',
 ' 3one4 Capital Advisors LLP',
 ' 500 Start-Ups',
 ' 500 Startups',
 ' 500 Startups & Other HNIs',
 ' 50K Ventures & others',
 ' 91SpringBoard',
 ' 91springboard',
 ' ABB Technology Ventures',
 ' ABCOM Investments',
 ' AECAL',
 ' AET Fund',
 ' AL Nour International Holdings and Mark V Investments',
 ' ASP Consulting',
 ' Aarin Capital',
 ' Abhai S. Rao',
 ' Abhay Singhal',
 ' Abhinav Patodia',
 ' Abhishek Acharya',
 ' Abhishek Goyal',
 ' Abhishek Jain',
 ' Abstract Ventures',
 ' Abu Farhan Azmi',
 ' Accel',
 ' Accel India',
 ' Accel Partner',
 ' Accel Partners',
 ' Accel Partners & Others',
 ' Accel Partners & Raghunandan Gangappa',
 ' Accel Partners RNT Associates',
 ' Accel Partners and G Raghunandan',
 ' Accel Partners and IDG Ventures',
 ' Accel Partners and Saama Capital',
 ' Accel Partners and Tiger Global Management.',
 ' Accion',
 ' Accion Venture Lab',
 ' Acumen Fund',
 ' Adi Saravanan',
 ' Aditya Agarwal',
 ' Aditya Malik & Others',
 ' Aditya Verma',
 ' Aditya Vij',
 ' AdvantEdge Partners',
 ' Adveq Management',
 ' Ajay Bhatia',
 ' Ajay Modani',
 ' Ajeet Khurana & others',
 ' Akash Garg',
 ' Akatsuki and Incubate Fund from Japan and Better Capital AngelList syndicate.',
 ' Alfa Capital',
 ' Alok Mittal',
 ' Alok Mittal and Sachin Bhatia',
 ' Aloke Bajpai',
 ' Alphabet\\\\xe2\\\\x80\\\\x99s growth investment arm Capital G and Axis Bank',
 ' Altimeter Capital',
 ' Alto Partners',
 ' Amar Arsikere',
 ' Ambarish Gupta',
 ' Ambarish Ray',
 ' Ameera Shah',
 ' Amereus Group',
 ' American Express',
 ' American Express Ventures',
 ' Amit Dey',
 ' Amit Gupta',
 ' Amit Jindal',
 ' Amit Khanna',
 ' Amit Nagar',
 ' Amit Nanavati',
 ' Amit Patni',
 ' Amit Ranjan',
 ' Amit Ranjan & others',
 ' Amit Singal',
 ' Amit Sinha',
 ' Amiya Pathak',
 ' Amrish Kumar',
 ' Anand Chandrasekaran',
 ' Anand Ladsariya',
 ' Anand Mahindra',
 ' Anand Rajaraman',
 ' Ananda Kallugadde',
 ' Anandbir Singh',
 ' Ananth Narayanan',
 ' Anbu Pandian',
 ' Andre Hoffman',
 ' Aneesh Reddy',
 ' Anil Jaggia',
 ' Anirudh Damani',
 ' Anirudh Rastogi',
 ' Anirudh Sheth',
 ' Anish K',
 ' Anisha Mittal',
 ' Anita Hassanandani',
 ' Anjali Bansal',
 ' Anjani Prasad',
 ' Ankit Aditya',
 ' Ankit Bhati',
 ' Ankit Sharma and others',
 ' Ankur Capital',
 ' Ankur Singla',
 ' Ankur Warikoo',
 ' Ankush Gupta',
 ' Ankush Nijhawan',
 ' Anoop Goyal',
 ' Anshoo Gaur',
 ' Anshu Bahadur',
 ' Anshu Sharma',
 ' Anshuman Das',
 ' Ant Financial',
 ' Anthill Scale Ventures',
 ' Anthill Ventures',
 ' Anubhav Verma',
 ' Anuj Sanghi',
 ' Anuj Srivastava',
 ' Anupam Mittal',
 ' Anurag Srivastava',
 ' Apoletto',
 ' Apoletto Managers',
 ' Apoorva Patni',
 ' Aprameya Radhakrishna',
 ' Aprameya Radhakrishnan',
 ' Apurva Salapuria',
 ' Aqeel Ahmed',
 ' Aravind Sanka',
 ' Arihant Patni',
 ' Arihant Patni of Patni Family Office',
 ' Arjun Malhotra',
 ' Arjun Sharmaa',
 ' Arjun and Rohan Malhotra',
 ' Arkas Industries',
 ' Arthavida Ventures',
 ' Artiman Ventures',
 ' Arts Alliance',
 ' Arun Garg',
 ' Arun Malhotra',
 ' Arun Sarin',
 ' Ascent Capital',
 ' Ashim Mehra',
 ' Ashish Agrawal',
 ' Ashish Chand',
 ' Ashish Dhawan',
 ' Ashish Goenka',
 ' Ashish Gupta',
 ' Ashish Hemrajani',
 ' Ashish Lakhanpal',
 ' Ashish Tulsian',
 ' Ashneer Grover',
 ' Ashvin Chadha',
 ' Asian Healthcare fund',
 ' Aspada',
 ' Aspada Investment',
 ' Aspada Ventures',
 ' Atul Goel',
 ' Atul Nishar',
 ' Atul Phadnis',
 ' Avtar Monga',
 ' Axan Partners',
 ' Axan Venture',
 ' Axilor Partners',
 ' Axilor Ventures',
 ' Axilor Ventures and Binny Bansal',
 ' Axis Bank',
 ' Axis Capital',
 ' Axis Capital & Others',
 ' Axon Partners',
 ' Azmul Haque',
 ' B Capital',
 ' BEENEXT',
 ' BEENEXT Ventures',
 ' BVR Mohan Reddy',
 ' Badal Malick',
 ' Bamboo Capital Partners',
 ' Bank to the Future and Funders Club',
 ' Basab Pradhan',
 ' Batlivala & Karani Securities',
 ' Bedrock Ventures',
 ' BeeNext',
 ' Beehive Capital Advisor',
 ' Beenext',
 ' Beenext Ventures',
 ' Beenextan investment fund',
 ' Beenos',
 ' Beenos Asia',
 ' Behram Vakil and Jerxis Vandrevala',
 ' Bennett Coleman & Co. Ltd',
 ' Berggruen Holdings',
 ' Bertelsmann India',
 ' Bertelsmann India Investments',
 ' Bertelsmann India Investments Norwest Venture Partners.',
 ' Bessemer Venture Partners',
 ' Bharat Sheth',
 ' Bharat Vijay',
 ' Bharti Enterprises',
 ' Bhavish Aggarwal',
 ' Bhupender Singh',
 ' Big Data Investments B.V',
 ' Bijou Kurien',
 ' Bill & Melinda Gates Foundation',
 ' Binny Bansal',
 ' Biz Stone',
 ' BizReach',
 ' Blacksoil',
 ' Blue Cloud Ventures',
 ' Blue Fog Capital',
 ' Blume Ventures',
 ' Blume Ventures & IvyCap Ventures',
 ' Blume Ventures & Vaibhav Domkundwar',
 ' Blume Ventures and Innoven Capital.',
 ' Blume Ventures.',
 ' Bobby Reddy',
 ' Bold Ventures',
 ' BookMyShow)',
 ' Boost VC',
 ' BrahmaX Ventures',
 ' Brand Capital',
 ' Bunny Bansal & other investors',
 ' Burda Principal Investments',
 ' C31 Ventures',
 ' CCavenue',
 ' CDC Group',
 ' CRV',
 ' CSC Upshot & Angel investors',
 ' Calcutta Angels',
 ' Canaan Partners',
 ' Capier Investments',
 ' CapitalG',
 ' Capricorn Investment Group',
 ' Capricorn Investment and IFC',
 ' Caspian and Hivos-Triodos Fund',
 ' Catamaran Ventures',
 ' Chandru Badrinarayanan',
 ' Cheetah Mobile',
 ' Chennai Angels',
 ' Chidambaram Palaniappan',
 ' Chiratae Ventures',
 ' Chiratae Ventures (formerly IDG Ventures)',
 ' Cisco Investments',
 ' Cisco Ventures',
 ' Citrus Payments',
 ' Coatue Management',
 ' Coleman and Co. Ltd (BCCL)',
 ' Coleman and Company Ltd',
 ' Contrarian Capital',
 ' Contrarian Vriddhi Fund',
 ' Cota Capital',
 ' Cyber Carrier VC',
 ' CyberAgent Ventures',
 ' DG Incubation',
 ' DG Ventures India',
 ' DSG Consumer Partners',
 ' DSG Consumer Partners and Venture Nursery',
 ' DST Global',
 ' DST Partners and RPS Ventures',
 ' Dalip Pathak',
 ' Dalip Pathak and Others',
 ' Daljit Singh',
 ' Darius Pandole',
 ' Darrin Capital',
 ' Das Capital and IT Farm',
 ' DeVry Inc',
 ' Deep Kalra',
 ' Deepak Natraj',
 ' Deepinder Goyal',
 ' Delhivery',
 ' Dena',
 ' Deobrat Singh',
 ' Deshe Holdings',
 ' Deshpande Foundation',
 ' Deutsche Telekom Strategic Investments (DTSI)',
 ' Dewan Housing Finance Corp',
 ' Dheerag Jain',
 ' Dheeraj Jain',
 ' Dheeraj Mehta & Others',
 ' Diaz Nesamoney',
 ' Didi Kuaidi',
 ' Digital Currency Group',
 ' Digital Garage',
 ' Digital Garage Inc',
 ' Dileep Nath',
 ' Dilip Khandwelwal from SAP Labs India',
 ' Dinesh Kundu & others',
 ' Dinesh Mittal',
 ' Dinesh R. Challa',
 ' Divyesh Shah',
 ' Dr Paresh Doshi',
 ' Dr V Ravinder',
 ' Dr. Aniruddha Malpani',
 ' Dr. Apoorv Ranjan Sharma',
 ' Dr. Ranjan Pai',
 ' Dr. Ritesh Malik',
 ' Draper Associates',
 ' Draper Fisher Jurvetson',
 ' Dream Incubator',
 ' E-City VEntures Atul Goel',
 ' E.ON',
 ' EDBI',
 ' Edelweiss Private Equity',
 ' Edelweiss and Beenext',
 ' Eight Roads Ventures',
 ' Electronic Development Fund',
 ' Elevar Equity',
 ' Elevar Equity and Accel Partners',
 ' Elevate Sports',
 ' Emergent Ventures',
 ' Emergent Ventures and Y Combinator',
 ' Empire Angels',
 ' Endiya Partners',
 ' Entrepreneurs India',
 ' Esvee Technologies Inc',
 ' Eureka Forbes Ltd',
 ' European investment fund',
 ' Evan Lim',
 ' Excelsior Investments',
 ' Exfinity Ventures',
 ' Existing investors',
 ' F-Prime Capital Partners',
 ' FAO Ventures',
 ' FIL Capital Management',
 ' FJ Labs',
 ' Faering Capital',
 ' Falcon Edge',
 ' Falcon Edge Capital',
 ' Farhan Naqvi',
 ' Farooq Adam Mukadam',
 ' Fenqile',
 ' Fidelity Biosciences',
 ' Fidelity Growth Partners',
 ' Fidelity Growth Partners India',
 ' Fireside Ventures',
 ' Flipkart',
 ' Florintree Advisors',
 ' Fortisure Ventures',
 ' Fosun RZ Capital',
 ' Foundation Capital',
 ' Founder Collective',
 ' Foxconn',
 ' Foxconn Technology Group',
 ' Franchise India Brands',
 ' Fred Khosravi',
 ' FreshMenu)',
 ' Fullerton India Credit Company Ltd',
 ' Fundnel',
 ' Fusion Tech Ventures',
 ' GFC',
 ' GHV Accelerator',
 ' GREE Ventures',
 ' GREE Ventures and Summit Media',
 ' GSF and Other angel investors',
 ' GVFL',
 ' Gabriel Investments',
 ' Gagan Dugal',
 ' Ganpat Singhvi',
 ' Gaurav Bhalotia',
 ' Gaurav Bhatnagar',
 ' Gaurav Lochan',
 ' Gaurav Marya',
 ' Gaurav Sharma',
 ' Gaurav Suri and Ankit Kesarwani',
 ' Gaurav Vats',
 ' Gautam Sinha',
 ' Girish Mathrubootham',
 ' Girish Mathrubootham &\\\\xc2\\\\xa0 Group of other Angel investors',
 ' Girish Matrubootham',
 ' Girish Reddy',
 ' Girnar Software',
 ' Global Founders Capital',
 ' Globevestor',
 ' Globevestor & others',
 ' Gokul Rajaram',
 ' Goldbell Group',
 ' Goldman Sachs',
 ' Google Capital',
 ' Google Capital & Accel Partners',
 ' Grace Capital Ventures',
 ' Great Oaks Ventures',
 ' Green Shots Capital',
 ' Greenoaks Capital',
 ' Greenoaks Capital Partners',
 ' Grey Orange',
 ' Grey Orange Robotics',
 ' Greycroft',
 ' Greycroft Partners',
 ' GrowX',
 ' GrowX Ventures',
 ' Gurmeet Chahal & Others',
 ' Gurpreet Singh & others',
 ' HDFC',
 ' HDFC Asset Management',
 ' Hack VC',
 ' Haresh Chawla',
 ' Harminder Sahani',
 ' Harmony Partners',
 ' Harpreet Singh Grover',
 ' Harsh Mariwala',
 ' HealthQuad',
 ' HealthQuad and Fireside Ventures',
 ' Helion Advisors',
 ' Helion Venture',
 ' Helion Venture Partners',
 ' Helion Ventures',
 ' Hemant Kanakia',
 ' Hemant Kaul',
 ' Hemant Luthra',
 ' Hercules Capital',
 ' Hermes Group',
 ' Hero Electronix\\\\xe2\\\\x80\\\\x99s corporate financing arm',
 ' Hero Enterprise',
 ' Hetal Sonpal',
 ' Hillhouse Capital',
 ' Himanshu Aggarwal',
 ' Himanshu Aggrawal',
 ' Hinduja Leyland Finance and IntelleGrow',
 ' Hirokazu',
 ' Hitesh Oberoi',
 ' Holtzbrink Ventures',
 ' Horizons Ventures',
 ' Hornbill Orchid India Fund',
 ' Hrishi Oberoi',
 ' Hrishikesh Parandekar',
 ' Hyderabad Angels',
 ' IDFC-Parampara Capital',
 ' IDG Venture',
 ' IDG Ventures',
 ' IDG Ventures & Indian Angel Network',
 ' IDG Ventures India',
 ' IFC',
 ' IFMR',
 ' IIFL Wealth',
 ' ILearnFinance Academy Pvt. Ltd.',
 ' IMJ Investment Partners',
 ' IMM Investment',
 ' ITW Digital',
 ' Ideation Initiative Pvt. Ltd',
 ' Ignition Partners',
 ' InMobi',
 ' Inc95 Consulting',
 ' India Alternatives',
 ' India Internet Fund',
 ' India Quotient',
 ' Indian Angel Network',
 ' Indian Angel Network (IAN)',
 ' Individual Investors',
 ' Indus Age Partners',
 ' Infocomm Development Authority of Singapore',
 ' Infocomm Investments',
 ' Infosys Innovation Fund',
 ' Innogy',
 ' Innov8',
 ' Innov8 founder Ritesh Malik',
 ' Innoven Capital',
 ' Intel Capital',
 ' Intel Capital & Kae Capital',
 ' IntelleGrow',
 ' Intellecap Impact Investment Network',
 ' International Finance Corporation (IFC)',
 ' Internet Group',
 ' Inventus Capital',
 ' Inventus Capital Partners',
 ' Investment AB Kinnevik',
 ' IvyCap Ventures',
 ' JAFCO Asia',
 ' JLL',
 ' Jagdish & Sandeep Mehta Family Office',
 ' Jarett Posner',
 ' Jason Hirschhorn',
 ' Jaspreet Bindra',
 ' Jatin Aneja',
 ' Jay Sethuram',
 ' Jay Srinivasan',
 ' Jayant Davar',
 ' Jayesh Parekh',
 ' Jaysukh Sapra',
 ' Jeroen Mensen',
 ' Jitendra Gupta & Others',
 ' Joby Babu',
 ' John Katzman',
 ' Josh Talks founders Supriya Paul and Shobha Banga',
 ' Jungle Ventures',
 ' Jungle Ventures & Bessemer Venture Partners',
 ' Jyoti Bansal',
 ' K Ganesh',
 ' KCK Global & Others',
 ' KK Mehra',
 ' Kae Capital',
 ' Kae Capital & Others',
 ' Kalaari Capital',
 ' Kalaari Capital and IDG Ventures India',
 ' Kalaari Capital and Inventus Capital',
 ' Kalaari Capital and Others',
 ' Kalaari Capital and Private equity firm Multiples Alternate Asset Management',
 ' Kamal Chabra',
 ' Kanchan Ghoshal',
 ' Kapil Hetamsaria',
 ' Kartik Hosanagar',
 ' Kashyap Deorah',
 ' Keiretsu Forum & Others',
 ' Keith Rodricks',
 ' Keshav Sanghi',
 ' Khattar Holdings',
 ' Khazanah Nasional Berhad',
 ' Khosla Impact',
 ' Khosla Ventures',
 ' Kima Ventures',
 ' Kinzon Capital',
 ' Kiran Deshpande',
 ' Kishore Ganji',
 ' Kishore Kumar',
 ' Kiyohiro Sugashita',
 ' Knoll Ventures and others',
 ' Konly Venture',
 ' Kris Gopalakrishnan',
 ' Krish Seshadri',
 ' Krishan Gupta & Others',
 ' Krishnakumar Nataraj',
 ' Krishnakumar Natarajan',
 ' Kumar Shwetabh',
 ' Kumar Vembu',
 ' Kunal Bahl',
 ' Kunal Khattar',
 ' Kunal Shah',
 ' Kunal Shah & Sandeep Tandon',
 ' Kunal Shah and Manish Patel.',
 ' L.D Sharma',
 ' LG Chandrasekhar',
 ' LGT Impact',
 ' LGT Impact Ventures',
 ' Lakshmi Narayanan',
 ' Lalit Mangal',
 ' Larry Braitman',
 ' Lasmer NV',
 ' Lead Angels',
 ' LeapFrog Investments',
 ' Learn Capital',
 ' Leo Wang Sangeeth Ram',
 ' Let\\\\xe2\\\\x80\\\\x99s Venture',
 ' LetsVenture',
 ' LetsVenture & Others',
 ' LetsVenture investors',
 ' Liberty Media',
 ' LightStreet',
 ' Lightbox Expansion Fund',
 ' Lightbridge Partners & Kairos',
 ' Lightspeed US',
 ' Lightspeed Venture Partners',
 ' Lightspeed Ventures',
 ' Line Corp',
 ' Liquid 2 Ventures',
 ' Lok Capital',
 ' Lomesh Agarwal',
 ' Lumina Datamatics',
 ' Lumis Partners',
 ' M & S partners',
 ' M George Oommen',
 ' M&S Partners',
 ' MEMG CDC',
 ' MEMG Family Office',
 ' MGV',
 ' MJ Aravind',
 ' MMY co-Founder',
 ' Mahavir Sharma',
 ' Mahendra Doshi',
 ' Mahesh Kothurkar',
 ' Mahesh Murthy',
 ' Maheshwar Peri',
 ' Maheshwari Investments Pvt Ltd',
 ' Maiden Lane Ventures',
 ' MakeMyTrip',
 ' Malvinder and Shivinder Singh',
 ' Mamoru Taniya',
 ' Mandhian family & Others',
 ' Manickam Mahalingam',
 ' Manish Dhingra',
 ' Manish Dugar',
 ' Manish Gandhi',
 ' Manish Kheterpal',
 ' Manish Prasad',
 ' Manish Shah',
 ' Mantra Ventures',
 ' Mape Advisory Group',
 ' March Capital',
 ' Mariwala family',
 ' Mathew Cyriac',
 ' Matrix Partners',
 ' Matrix Partners India',
 ' Matrix Partners India and Zodius Capital',
 ' Maverick Capital Ltd and HBM Healthcare Investments Ltd',
 ' Maverick Capital Ventures',
 ' Mayank Bhangdia',
 ' Mayank Mittal & Others',
 ' Mayank Singhal',
 ' Mayfield',
 ' Mayfield & Others',
 ' Mayfield Capital',
 ' Mayfield India',
 ' Mayfield Ventures',
 ' Mayur Abhaya',
 ' MediAssist',
 ' MediaTek',
 ' Mekin Maheshwari',
 ' MeraEvents.',
 ' Michael & Susan Dell Foundation',
 ' Michael Carlos',
 ' Michael Herzig',
 ' Michael and Susan Dell Foundation',
 ' Micro venture capital firm GEMS Partners and Others',
 ' Micromax Informatics',
 ' Mike Galgon',
 ' Mike Shah',
 ' Milind Chaudhary',
 ' Milliways Ventures',
 ' Mistletoe',
 ' Mitali Pawar',
 ' Mitesh Shah',
 ' Mohandas Pai',
 ' Mohit Gupta',
 ' Mohit Saxena',
 ' Moksh Sports Ventures',
 ' Mount Nathan Advisors',
 ' Mountain Pine Capital',
 ' Mousse Partners',
 ' Mukul Singhal',
 ' Multiples Alternate Asset Management',
 ' Mumbai Angel',
 ' Mumbai Angels',
 ' Murali Nair',
 ' Myntra) and Mitesh Shah (finance chief',
 ' N Squared Management LLC',
 ' NEA',
 ' NEA Ventures',
 ' NGP',
 ' NPTK',
 ' NR Narayana Murthy.',
 ' NY based Hedge Fund',
 ' Nagendra Chaudhary',
 ' Nagendra Prasad Bhanuprakash',
 ' Nandan Nilekani',
 ' Nandan Nilekani\\\\xe2\\\\x80\\\\x99s NRJN Trust',
 ' Narayan Ramachandran',
 ' Narayan Seshadri',
 ' Naveen Tewari',
 ' Naver',
 ' Navjot Saini',
 ' Navneet Education and Mahavir Agency',
 ' Naya Ventures',
 ' Neelesh Bhatnagar',
 ' Neeraj Aggarwal',
 ' Neeraj Goenka',
 ' Neeraj Jawalkar',
 ' Neoplux Technology Fund',
 ' Ness Wadia',
 ' Network 18',
 ' New Enterprise Associates',
 ' New Enterprise Associates (NEA)',
 ' New India Investment Corporation',
 ' Newfort Capital',
 ' Nexus India Capital Advisors',
 ' Nexus Venture Partners',
 ' Nexus Venture Partners and Arena Ventures',
 ' Nexus Venture Partners and Blume Ventures',
 ' Nexus Ventures',
 ' Nexus venture Partners',
 ' Nick Haulkoury',
 ' Nikhil Bagri',
 ' Nikhil G and Bhavesh P',
 ' Nikhil Golcha',
 ' Nikhil Vora',
 ' Nikunj Jain',
 ' Nikunj Jhaveri',
 ' Nilender Chauhan',
 ' Nipun Dureja',
 ' Niraj Singh',
 ' Nirmal Singh',
 ' Nirupa Shankar',
 ' Nirvana Digital India Fund',
 ' Nirvana Digital Investment Holding',
 ' Nirvana Digital Investment Holding Co Ltd',
 ' Nishant Rao',
 ' Nitesh Pant',
 ' Nitin Agarwal',
 ' North Base Media',
 ' Norwest Venture Partners',
 ' Nyca Partners and Thomvest Ventures',
 ' ONCOTRUST and Medintel Services Pvt. Ltd',
 ' OPPO',
 ' Oikocredit',
 ' Omidyar Network',
 ' Omidyar Network and Accion Venture Labs',
 ' Omidyar Network and Kae Capital',
 ' Omidyar Network and Kaizen Private Equity also participated in the round',
 ' Omidyar Network and Shunwei Capital',
 ' Omidyar Network.',
 ' Omnivore',
 ' Ontario Teachers\\\\\'"',
 ' Orios Venture Partners',
 ' Orios Venture Partners and the IAN Fund',
 ' Orios Venture Partners.',
 ' Others',
 ' Others from LetsVenture',
 ' Outbox Ventures',
 ' P.V SIndhu',
 ' P39 Capital & Others',
 ' PK Gulati & others',
 ' PS1 Venture and GlobalLogic co-founder Rajul Garg',
 ' PV Srinivasan',
 ' Pablo van den Bosch & Others',
 ' Palash Jain',
 ' Pallab Chatterjee & others',
 ' Pallav Nadhani',
 ' Pankaj Gupta',
 ' Pankaj Kapoor',
 ' Pankaj Tripathi',
 ' Paragon Partners',
 ' Paragon Trust',
 ' Parekh Marine Transport',
 ' Parikshit Dar',
 ' Parmeshwar Sharma',
 ' Partech Ventures',
 ' Paul Bucche',
 ' Paula Ravindra Mariwala',
 ' Pavan Bakeri',
 ' Pavan Ongole',
 ' Paytm',
 ' Pearson Learning Fund',
 ' Peepul Capital',
 ' Perceptive Advisors',
 ' Peyush Bansal',
 ' Phanindra Sama',
 ' Pidilite Industries director Ajay Parekh',
 ' Pine Brook',
 ' PitchRight Venture',
 ' Piyush Shah',
 ' Powai Lake Ventures',
 ' Powerhouse Ventures',
 ' Powerhouse Ventures & Others',
 ' Powerhouse Ventures (USA).',
 ' Prabhakar MR & Others',
 ' Pradeep Guha',
 ' Pradeep K Jaisingh',
 ' Pradip Dadha Group',
 ' Pranav Dedhia',
 ' Pranay Jivrajka',
 ' Prashant Gooty',
 ' Prashant Gupta and Others',
 ' Prashant Malik',
 ' Prathithi Investment Trust',
 ' Pratik Singhi',
 ' Pratithi Investment Trust',
 ' Pratyush Prasanna',
 ' Praveen Sinha',
 ' Praveer Kumar',
 ' Pravega Ventures',
 ' Pravin Dongre',
 ' Pravin Gandhi',
 ' Premji Invest',
 ' Prime Venture Partners',
 ' Prime Venture Partners and Others',
 ' Prime Venture Partners.',
 ' Prof. Ram Kumar Kakani & Others',
 ' Pullela Gopichand',
 ' Puneet Agarwal',
 ' Puneet Dalmia & Others',
 ' Puneet Motihar',
 ' Purnima Khandelwal',
 ' Qasar Younis',
 ' Qualcomm',
 ' Qualcomm Venture',
 ' Qualcomm Ventures',
 ' Qualgro',
 ' Qualgro.',
 ' Quarizon',
 ' Quilvest',
 ' Quintillion Media',
 ' Quona Capital',
 ' R Ranganathan',
 ' R. Natarajan',
 ' RAAY Global Investments',
 ' RB International',
 ' RB Investments',
 ' RB Investments & existing investors',
 ' RB investments & Others',
 ' RNT Capital',
 ' RSI Fund',
 ' RWE',
 ' Radhakrishan Damani and Rakesh Jhunjhunwala',
 ' Raghunandan G',
 ' Rahul Agarwal',
 ' Rahul Kayan',
 ' Rahul Khanna',
 ' Rahul Maroli',
 ' Rahul Mehta',
 ' Rahul Singh',
 ' Rainforest Ventures',
 ' Rainmatter',
 ' Raj Y',
 ' Rajan Anandan',
 ' Rajan Anandan from Google',
 ' Rajan Pandhare',
 ' Rajat Gupta & Others',
 ' Rajeev Arora and Ram Ramsundar.',
 ' Rajeev Menon',
 ' Rajeev Mudumba',
 ' Rajesh Arora',
 ' Rajesh Balpande',
 ' Rajesh K Murthy',
 ' Rajesh Magow',
 ' Rajesh Mahajan',
 ' Rajesh Ramaiah',
 ' Rajesh Ranavat',
 ' Rajesh Sawhney',
 ' Rajesh Yohanan and Rahul Garg',
 ' Rajesh Yohannan',
 ' Rajiv Nayan',
 ' Rajiv Solanki',
 ' Rajnish Kumar',
 ' Raju Reddy',
 ' Rajul Garg',
 ' Rajul Jain',
 ' Rakesh Agrawal',
 ' Rakesh Desai',
 ' Rakesh Gakhar',
 ' Rakesh Malhotra',
 ' Rakesh Mathur',
 ' Rakesh and Rajesh Jhunjhunwala',
 ' Raksul',
 ' Ram Kumar Kakani',
 ' Rama Krishna Reddy',
 ' Ramakant Sharma',
 ' Ramana Thumu',
 ' Ranjan Sharma',
 ' Ratan Tata',
 ' Raveen Sastry (co-founder',
 ' Ravi Bhardwaj',
 ' Ravi Garikipati',
 ' Ravi Gururaj',
 ' Ravi Nigam & Others',
 ' Ravi Trivedi',
 ' Ravikanth Reddy',
 ' Real Time Ventures',
 ' Real Time Ventures.',
 ' Rebright Partners',
 ' Reema Kagati',
 ' Renaud Laplanche',
 ' Renuka Ramanath',
 ' Ribbit Capital',
 ' Ribbit Capital and Omidyar Network',
 ' Richard S. Braddock',
 ' Riddhesh Gandhi & Others',
 ' RippleWave',
 ' Rishi Das',
 ' Rishi Gupta & Others',
 ' Ritesh Vohra',
 ' Ritu Kapur',

In [90]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount,month,year,startups
Sr No,,,,,,,,,,,
1,2020-01-09,BYJU’S,etech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200.000000,1,2020,byjus
2,2020-01-13,Shuttl,transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8.048394,1,2020,shuttl
3,2020-01-09,Mamaearth,ecommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18.358860,1,2020,mamaearth
4,2020-01-02,https://www.wealthbucket.in/,fintech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3.000000,1,2020,httpswwwwealthbucketin
5,2020-01-02,Fashor,fashion and apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1.800000,1,2020,fashor

In [25]:
df[df['investors'].str.contains('Anupam Mittal')].groupby('startup')['amount'].sum().sort_values(ascending=False)

startup
The Porter    5.50
InnerChef     1.75
Yumlane       1.00
Truebil       0.50
Zepo          0.50
Vebbler       0.50
Truce         0.37
infeedo       0.20
Name: amount, dtype: float64

In [26]:
investor_list = df['investors'][df['investors'].str.contains('Anupam Mittal')].str.split(',').explode().str.strip()
final_list = investor_list[investor_list != 'Anupam Mittal'].value_counts()
final_list

investors
Kae Capital                  2
LetsVenture                  1
Kunal Shah                   1
Dheeraj Jain                 1
Palash Jain                  1
Ameera Shah                  1
\\xc2\\xa0 Vivek Bhargava    1
Rahul Singh                  1
Ambarish Gupta               1
                             1
Hetal Sonpal                 1
Binny Bansal                 1
Sachin Bhatia                1
Kunal Khattar                1
Darius Pandole               1
Sharad Sharma & 14 others    1
Amit Gupta                   1
Utsav Somani                 1
Dheerag Jain                 1
Neeraj Goenka                1
Farooq Adam Mukadam          1
Vijay Shekhar Sharma         1
Phanindra Sama               1
Vishal Gondal                1
Sateesh Andara & others      1
Sequoia Capital              1
Sandeep Tandon               1
Name: count, dtype: int64

In [27]:
round(df['amount'].sum())

36563

In [28]:
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df

,date,startup,vertical,subvertical,city,investors,round,amount,month,year
Sr No,,,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200.000000,1,2020
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8.048394,1,2020
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18.358860,1,2020
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3.000000,1,2020
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1.800000,1,2020
...,...,...,...,...,...,...,...,...,...,...
2868,2015-04-29,Icertis,Cloud Enterprise Software,NaN,Pune / US,"Greycroft Partners, Fidelity Growth Partners",Private Equity,6.000000,4,2015
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,3.500000,4,2015
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,0.400000,4,2015
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,0.500000,4,2015
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,8.000000,4,2015

In [29]:
temp_df = df.groupby(['year','month'])['startup'].size().reset_index()

temp_df['x_axis'] = temp_df['month'].astype('str') + '-' + temp_df['year'].astype('str')

temp_df[['startup', 'x_axis']]

temp_df2 = df.groupby(['year','month'])['amount'].sum().reset_index()

temp_df2['x_axis'] = temp_df2['month'].astype('str') + '-' + temp_df2['year'].astype('str')

temp_df2[['amount', 'x_axis']]

         amount   x_axis
0    981.000000   4-2015
1    322.135000   5-2015
2    521.994000   6-2015
3   1509.822000   7-2015
4   1063.816000   8-2015
5   1470.520000   9-2015
6    254.961000  10-2015
7    899.275000  11-2015
8    305.853000  12-2015
9    699.880000   1-2016
10   331.490500   2-2016
11   309.561608   3-2016
12   253.940000   4-2016
13   339.840000   5-2016
14   199.639000   6-2016
15   233.547000   7-2016
16   534.089000   8-2016
17   241.361000   9-2016
18   237.448000  10-2016
19   259.997000  11-2016
20   187.243000  12-2016
21   253.233500   1-2017
22   294.959000   2-2017
23  2264.281000   3-2017
24   732.395000   4-2017
25  1786.669000   5-2017
26   344.818000   6-2017
27   167.704000   7-2017
28  2748.139000   8-2017
29   536.502000   9-2017
30   400.387000  10-2017
31   615.802230  11-2017
32   284.420000  12-2017
33   347.374600   1-2018
34  1211.217223   2-2018
35   291.953000   3-2018
36   198.077740   4-2018
37   105.887000   5-2018
38   391.475000   6-2018
39   558.228000   7-2018
40   809.354811   8-2018
41   601.090000   9-2018
42    52.880000  10-2018
43   497.115995  11-2018
44    57.715000  12-2018
45   137.000000   1-2019
46   226.600000   2-2019
47   115.793355   4-2019
48   408.968600   5-2019
49   274.414200   6-2019
50   296.794605   7-2019
51  4531.770000   8-2019
52   502.800000   9-2019
53   630.000000  10-2019
54  1862.797265  11-2019
55   476.900000  12-2019
56   390.207254   1-2020

In [30]:
df['vertical'] = df['vertical'].str.lower()
df['vertical'] = df['vertical'].str.replace(r'[-/_\.\&]', '', regex=True)

In [31]:
df.groupby('vertical').size().sort_values(ascending=False).head(10)

vertical
consumer internet    588
technology           310
ecommerce            204
finance               57
healthcare            45
logistics             23
edtech                18
education             18
fintech               16
food  beverage        15
dtype: int64

In [32]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount,month,year
Sr No,,,,,,,,,,
1,2020-01-09,BYJU’S,etech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200.000000,1,2020
2,2020-01-13,Shuttl,transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8.048394,1,2020
3,2020-01-09,Mamaearth,ecommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18.358860,1,2020
4,2020-01-02,https://www.wealthbucket.in/,fintech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3.000000,1,2020
5,2020-01-02,Fashor,fashion and apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1.800000,1,2020

In [52]:
temp_df = df.groupby('year').max()

,date,startup,vertical,subvertical,city,investors,round,amount,month
year,,,,,,,,,
2015,2015-12-29,trueHb,workforce management software,NaN,Vadodara,undisclosed private investors,Seed Funding,700.0,12
2016,2016-12-29,numberz.in,technology,waterless car washing solution,Varanasi,vCommission,Seed Funding,200.0,12
2017,2017-12-27,wayForward,technology,women focussed customer-to-customer reseller n...,Vadodara,undisclosed investors,Seed/Angel Funding,2500.0,12
2018,2018-12-06,zippserv,travel tech,mobile payment platform,Udaipur,"responsAbility, Elevar Equity and Accel Partners",Term Loan,600.0,12
2019,2019-12-20,eBikeGo,waste management service,Wearable Fitness Bands,Taramani,XL Innovate,pre-series A,3900.0,12
2020,2020-01-13,https://www.wealthbucket.in/,transportation,Retailer of baby and toddler products,New Delhi,Vinod Khatumal,Series C,200.0,1

In [86]:
temp_df = df[df['startup'] == 'Ola'].set_index('date').sort_index(ascending=False)['investors'].reset_index()
temp_df['investors'].apply(lambda x: x.split(',')[0]).values

array(['Tekne Capital Management LLC', 'Falcon Edge Capital',
       'SoftBank Group Corp', 'Baillie Gifford'], dtype=object)

In [35]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount,month,year
Sr No,,,,,,,,,,
1,2020-01-09,BYJU’S,etech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200.000000,1,2020
2,2020-01-13,Shuttl,transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8.048394,1,2020
3,2020-01-09,Mamaearth,ecommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18.358860,1,2020
4,2020-01-02,https://www.wealthbucket.in/,fintech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3.000000,1,2020
5,2020-01-02,Fashor,fashion and apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1.800000,1,2020

In [ ]:
Company POV
Name
Founders
Industry
Subindustry
Location
Funding Rounds
Stage